/* GENERAL SECTION */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}




/* NAVBAR SECTION */
header {
    background-color: #ffffff;
    left: 0px;
    right: 0px;
    z-index: 11;
    position: sticky;
    top: 0;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px;
}

header .navbar ul {
    display: flex;
    flex: 0 0 33.33%;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul.links {
    cursor: pointer;
}

header .navbar ul#first-links {
    justify-content: flex-start;
}

header .navbar ul#first-links li a::before {
    content: '';
    height: 3px;
    background-color: #7fbcf4;
    width: 0%;
    position: absolute;
    left: 1em;
    bottom: -1px;
    transition: all 0.5s ease;
}

header .navbar ul#first-links li a:hover::before {
    width: 5em;
}

header .navbar ul#last-links {
    justify-content: flex-end;
}

header .navbar ul#last-links li a::before {
    content: '';
    height: 3px;
    background-color: #7fbcf4;
    width: 0%;
    position: absolute;
    right: 1em;
    bottom: -1px;
    transition: all .5s ease;
}

header .navbar ul#last-links li a:hover::before {
    width: 5em;
}

header .navbar ul.page-title h1 {
    display: inline-block;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 3px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 20px 0 5px;
    position: relative;
    padding-bottom: 5px;
}

header .navbar ul.page-title h1:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 15%;
    right: 15%;
    background-color: #7fbcf4;
    bottom: 0px;
}

header .navbar ul li {
    margin: 0px 35px;
}

header .navbar ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}






/* TITLE SECTION */
.section-title {
    background-image: url('images/header.jpeg');
    background-size: cover;
    background-position: center center;
    height: 25rem;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    z-index: 25;
}






/* NEW TRAIL MODAL FORM */
.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #f5f5dc;
    width: 50%;
    height: 40rem;
    z-index: 100;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.modal form input {
    width: 100%;
}

.modal form input[type="submit"] {
    margin-top: 1.1rem;
}






/* MAIN SECTION  */
.main-section {
    background-color: #f5f5dc;
    min-height: 100vh;
    padding-top: 5rem;
}

.main-section .main {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0px;
}





/* FILTER BUTTONS */
.main-section .filter-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 3.75rem;
    padding: 0px 1rem;
}

.main-section .filter-buttons div {
    display: flex;
    flex: 0 0 33.33%;
    padding: 0;
    margin: 0;
}

/* Difficulty, Distance, Elevation */
.main-section .filter-buttons .sortSection {
    justify-content: flex-start;
    display: flex;
    align-self: flex-end;
    height: 2rem;
}

.main-section .filter-buttons .sortSection select {
    margin-right: 0.3rem;
}


.main-section .filter-buttons .filterSearch {
    justify-content: center;
}

.main-section .filter-buttons .filterSearch input {
    width: 100%;
}

/* All, Completed, Incomplete */
.main-section .filter-buttons .filterSection {
    justify-content: flex-end;
    text-align: right;
}

.main-section .filter-buttons .filterSection ul li {
    list-style: none;
}




/* MAIN TRAIL CARDS */
.main-section .main .card {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    height: 400px;
    position: relative;
    padding: 8px;
}

.main-section .main .card .inner {
    position: relative;
}

.main-section .main .card img {
    width: 100%;
    height: 380px;
    display: block;
}

.main-section .main .card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all .5s ease;
}

.main-section .main .card:hover .overlay {
    opacity: 1;
}

.main-section .main .card .overlay h4 {
    margin-top: 1rem;
    font-size: 1.625rem;
    color: #ffffff;
    font-weight: 600;
    position: absolute;   
    top: 2em;
}

.main-section .main .card:hover .overlay h4 {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

@keyframes galleryText{
    0% {
        transform: translateY(-3.75rem);opacity:0;
    }
    100% {
        transform: translateY(0px);opacity:1;
    }
}

.main-section .main .card .overlay .location {
    color: #7fbcf4;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 7em;
}

.main-section .main .card:hover .overlay .location {
    -webkit-animation: galleryText .8s ease;
    animation: galleryText .8s ease;
}

.main-section .main .card .overlay .trail-button {
    height: 3.125rem;
    width: 10rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
    background-color: #ffffff;
    color: #7fbcf4;
    border: 1px solid #7fbcf4;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.125rem;
    position: absolute;
    bottom: 4rem;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.main-section .main .card .overlay .trail-button:hover {
    background-color: #7fbcf4;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.main-section .main .card:hover .overlay .trail-button {
    -webkit-animation: galleryIcon .8s ease;
    animation: galleryIcon .8s ease;
}

@keyframes galleryIcon{
    0% {
        transform: translateY(3.75rem);opacity:0;
    }
    100% {
        transform: translateY(0px);opacity:1;
    }
}




/* TRAIL VIEW PAGE */
.main #trail-view {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main #trail-view h2 {
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 0.5rem;
    margin: 0 0 0.5rem;
    text-transform: uppercase;
}

.main #trail-view h2:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 46%;
    right: 46%;
    background-color: #7fbcf4;
    bottom: 0px;
}



.main #trail-view #trail-view-contents {
    display: flex;
    padding-bottom: 1.25rem;
    border-radius: 0.625rem;
}

.main #trail-view-contents img {
    flex: 0 0 calc(50% - 1.25rem);
    padding: 0.625rem;
    margin: 0.625rem;
    background-color: #ffffff;
    box-shadow: 2px 3px #888888;
    max-width: 40%;
    width: 40%;
    max-height: 43.75rem;
    position: relative;
    transform: rotate(-5deg);
}

.main #trail-complete {
    background-color: rgba(0, 128, 0, 0.5);
}

.main #trail-complete.completed {
    background-color: rgba(255, 0, 0, 0.5);
}


.main #update {
    background-color: rgba(255, 255, 0, 0.5);
}

.main #delete {
    background-color: rgba(255, 0, 0, 0.5);
}



/* TRAIL VIEW PAGE - DETAILS */
.main #trail-view-contents ul {
    flex: 0 0 calc(50% - 1.25rem);
    padding: 0.625rem;
    max-height: 30%;
    height: 30%;
    position: relative;
}

.main #trail-view-contents ul li {
    font-size: 1.4rem;
    list-style: none;
    text-align: center;
    position: relative;
}

.main #trail-view-contents ul #trail-details {
    transform: rotate(10deg);
}

.main #trail-view-contents ul #trail-details:before {
    content: '';
    position: absolute;
    height: 2px;
    left: 30%;
    right: 30%;
    background-color: #7fbcf4;
    bottom: 0px;
}

.main #trail-view-contents ul li #label {
    text-align: left;
    font-weight: 500;
}

.main #trail-view-contents h3 {
    text-align: center;
    margin: 0.625rem;
}





/* TRAIL VIEW PAGE - COMMENTS SECTION */
.main #trail-view-contents #commentsContainer {
    margin: 1.25rem 0px;
    align-items: center;
    text-align: center;
    max-height: 31.25rem;
    overflow-y: auto;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #838383;
    box-shadow: 2px 3px #888888;
}

.main #trail-view-contents #commentsContainer ul {
    padding: 0;
}   

.main #trail-view-contents #commentsContainer ul li {
    padding-bottom: 2.625rem;
    border-bottom: 1px solid rgba(131, 131, 131, 0.5);
    margin: 0px 0.625rem;
}

.main #trail-view-contents #commentsContainer ul li button {
    position: absolute;
    right: 0px;
    background-color: rgba(255, 0, 0, 0.5);
}

.main #trail-view-contents #commentsContainer ul li #comment-name {
    position: absolute;
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    left: 0px;
}

.main #trail-view-contents #commentsContainer ul li #comment-date {
    position: absolute;
    color: rgba(131, 131, 131, 0.5);
    left: 0px;
    bottom: 0px;
}




/* COMMENTS FORM */
.main #trail-view-contents #new-comments-form input[type="submit"] {
    position: absolute;
    right: 0px;
    background-color: rgba(128, 230, 128, 0.5);
}

.main #trail-view-contents #new-comments-form input[type="text"] {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.main #trail-view-contents #new-comments-form input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}

.main #trail-view-contents #new-comments-form textarea {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.main #trail-view-contents #new-comments-form textarea:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
}






/* COPYRIGHT */
.copyright {
    background-color: #7fbcf4;
    border-top: 1px solid #838383;
    padding: 1rem 0px;
}

.copyright p {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-weight: 400;
}





/* RESPONSIVE DISPLAYS */
@media(max-width: 1050px) {
    .section-title {
        height: 15rem;
    }

    .main-section .main .card {
        flex: 0 0 50%;
        max-width: 50%;
        height: 300px;
    }
    
    .main-section .main .card img {
        width: 100%;
        height: 280px;
        display: block;
    }
}

@media(max-width: 800px) {
    header .navbar ul.page-title h1 {
        font-size: 1.7rem;
    }

    header .navbar ul li a {
        font-size: 1.1rem;
    }
    
    .section-title {
        height: 15rem;
    }


    .main-section .filter-buttons div {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        margin-bottom: 1.1rem;
    }

    .main-section .filter-buttons .sortSection {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .main-section .filter-buttons .filterSearch {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .main-section .filter-buttons .filterSection {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        justify-content: flex-end;
    }

    .main #trail-view-contents img {
        max-height: 30rem;
    }
}

@media(max-width: 685px) {
    header .navbar ul.page-title h1 {
        font-size: 1.4rem;
    }

    section.title {
        height: 12rem;
    }

    .main #trail-view-contents img {
        max-height: 25rem;
    }
}

@media(max-width: 590px) {
    header .navbar ul.page-title h1 {
        font-size: 1.2rem;
    }

    section.title {
        height: 8rem;
    }

    .modal {
        width: 65%;
    }

    .main #trail-view-contents img {
        max-height: 20rem;
    }

    .main #trail-view-contents ul li {
        font-size: 1.2rem;
    }
}

@media(max-width: 500px) {
    header .navbar ul.page-title h1 {
        margin-top: 0;
        font-size: 1rem;
    }

    header .navbar ul li a {
        font-size: 1rem;
    }

    .section-title {
        height: 10rem;
    }

    .modal {
        width: 95%;
    }

    .main-section {
        padding-top: 0;
    }

    .main-section .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        margin-bottom: 5rem;
    }

    .main-section .filter-buttons div {
        padding: 0;
        margin: 0.2rem;
    }

    .main-section .filter-buttons .sortSection {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-section .filter-buttons .filterSearch {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-section .filter-buttons .filterSection {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main-section .filter-buttons .filterSection ul {
        padding: 0;
    }

    .main-section .main .card {
        flex: 0 0 100%;
        max-width: 100%;
        height: 300px;
    }
    
    .main-section .main .card img {
        width: 100%;
        height: 280px;
        display: block;
    }

    .main #trail-view #trail-complete {
        margin-left: 0.5rem;
    }

    .main #trail-view #trail-view-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main #trail-view-contents img {
        flex: 0 0 100%;
        max-width: 80%;
        margin: 1rem;
    }

    .main #trail-view-contents ul {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main #trail-view-contents #new-comments-form input {
        margin-right: 0.5rem;
    }
}